<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, size: "100" %>
  </p>
 
  <p>
    <%= f.label :content_md %><br>
    <%= f.text_area :content_md, size: "150", style: 'height: 1000px;' %>
  </p>
 
  <p>
    <%= f.submit "提交" %>
  </p>
<% end %>