<%= link_to "new article", new_article_path %>
 
<%= image_tag('avatar_t.jpg') %>
Renny Ren
  <% @articles.each do |article| %>
    
      <p><%= link_to article.title, article_path(article) %></p>
      <p><h2><%= article.content %></h2></p>
      <%= link_to 'edit', edit_article_path(article) %>
      <%= link_to 'destroy', article_path(article), method: :delete, data: { confirm: "are you sure?"} %>

  <% end %>

<%= link_to "My Blog", controller => 'articles' %>

