<%= image_tag('avatar.jpg') %>
<%= link_to 'Renny Ren', controller => 'articles'  %>
<%= link_to 'Home', controller => 'articles' %>
<%= link_to 'Archive', controller => 'articles'%>
<%= link_to 'About', about_index_path %>
  <% @articles.each do |article| %>
    
      <p><%= link_to article.title, article_path(article) %></p>
      <p><h2><%= article.content %></h2></p>
      <%= link_to 'edit', edit_article_path(article) %>
      <%= link_to 'destroy', article_path(article), method: :delete, data: { confirm: "are you sure?"} %>

  <% end %>
<%= link_to "new article", new_article_path %>
t