<%= link_to "new article", new_article_path %>

<h1>显示文章</h1>
 
<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= link_to 'show', article_path(article) %></td>
      <td><%= link_to 'edit', edit_article_path(article) %></td>
      <td><%= link_to 'destroy', article_path(article), method: :delete, data: { confirm: "are you sure?"} %></td>
    </tr>
  <% end %>
</table>

<h1>Hello, Rails!</h1>
<%= link_to "My Blog", controller => 'articles' %>

