<div class="article_container">
	<div id="title"><%= @article.title %></div>
	<div id="date">
		<%= "created_at: #{@created_date}　" %>
		<%= "updated_at: #{@updated_date}" if @updated_date != @created_date %>		
	</div>
  <div style="margin-top: -17px;">
		<% @tag_arr.each do |tag| %>
			<span class="show_tag"><%= link_to tag, tag_path(tag_name: tag) %></span>
		<% end %>
	</div>
	<div id="content"><%== @article.content %></div>

	<!--高速版-->
	<div id="SOHUCS"></div>
  <%= javascript_include_tag "http://changyan.sohu.com/upload/changyan.js" %>
	<script type="text/javascript">
	window.changyan.api.config({
	appid: 'cysQgfJP7',
	conf: 'prod_7daeafcc389f498056bb24ca7d92c2f7'
	});
	</script>

	<%= link_to "编辑", edit_article_path(@article) if session[:admin] %>
	<%= link_to "返回", archives_path %>
</div>