<h1>Title</h1>
<p>
	<%= @article.title %>
</p>

<h1>Content</h1>
<p>
	<%= @article.content %>
</p>

<h2>Comments:</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "back", articles_path %>