<div class="article_container">
  <div id="title"><%= @article.title %></div>
  <div id="date">
    <%= t(:created) + "#{@created_date}　　" %>
    <%= t(:updated) + "#{@updated_date}" if @updated_date != @created_date %>		
  </div>

  <div class="mobile_tag_show", style="margin-top: -10px;">
    <% @tag_arr.each do |tag| %>
      <span class="show_tag"><%= link_to tag, tag_path(tag_name: tag) %></span>
    <% end %>
  </div>
  <div id="content"><%== @article.content %></div>
  <div style="text-align: center;">
    <input type="button" value="0 赞" style="height: 26px; font-size: 15px; cursor: pointer;" onclick="javascript:alert('这家伙很懒，点赞功能还没开发。');">
  </div>

  <!--高速版-->
  <div id="SOHUCS"></div>
  <%= javascript_include_tag "https://changyan.sohu.com/upload/changyan.js" %>
  <script type="text/javascript">
  window.changyan.api.config({
    appid: 'cysQgfJP7',
    conf: 'prod_7daeafcc389f498056bb24ca7d92c2f7'
  });
  </script>

  <%= link_to "编辑", edit_article_path(@article) if session[:admin] %>
  <%= button_to "返回", archives_path, method: :get, style: "height: 26px; width: 60px; font-size: 1em; cursor: pointer;" %>
</div>