<div class="tags_index">
  <% if session[:admin] %>
    <%= form_tag(tags_path, action: "create") do %>
      <%= label_tag :tag_nmae, "Tag:" %>
      <%= text_field_tag :tag_name, nil, autocomplete: 'off' %>
      <%= submit_tag "Create" %>
    <% end %>
  <% end %>

  <div style="margin-top: 20px; margin-bottom: 50px;">
    <% @tags.each do |tag| %>
      <span class="show_tag_index"><%= link_to tag.tag_name, tag_path(tag) %></span>
      <%= link_to "Delete", tag_path(tag), method: :delete, data: { confirm: "sure to delete?" } if session[:admin] %>
    <% end %>
  </div>
</div>