<div class="archives_content">
  <% last_date = "0" %>
  <% @articles.each do |article| %>
    <div class="y_m"><%= article.date if article.date != last_date %></div>
    <% last_date = article.date %>

    <% tag_arr = article.tag.split('^^') %>
    <% tag_arr.shift %>
    <div style="margin-left: -35px; margin-top: 15px; width: 170px; position: absolute;">
      <% tag_arr.each do |tag| %>
        <span class="show_tag" style="margin: 2px; padding: 0 3px; margin-top: 2px; display: inline-block; float: right;"><%= link_to tag, tag_path(tag) %></span>
      <% end %>
    </div>

    <div class="title"><%= link_to article.title, article_path(article), method: :get %></div>
    <div class="date"><%= article.created_at.to_date %></div>

    <% if session[:admin] %>
      <%= link_to 'edit', edit_article_path(article) %>
      <%= link_to 'destroy', article_path(article), method: :delete, data: { confirm: "are you sure?"} %>
    <% end %>

  <% end %>
  <br/>
  <%= will_paginate @articles, class: "flickr_pagination" %>
  <%= link_to "新建文章", new_article_path if session[:admin] %>
</div>