<%= image_tag 'https://www.mynewcaledonia.com.au/wp-content/uploads/sites/12/2016/12/Beach-Banner.jpg' %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<div class="about_content">
  <h2>关于我</h2>
  <ul>
    <li>&nbsp&nbsp姓名：任峻宏 (Renny Ren)</li>
    <li>&nbsp&nbsp学校：四川大学锦城学院 大四</li>
    <li>&nbsp&nbsp专业：电子商务，移动互联网</li>
    <li>&nbsp&nbsp理想：做一枚潇洒的程序员，成为一名优秀的全栈工程师 :)</li>
  </ul>
    <p>&nbsp&nbsp三年 Ruby 开发经验，能够熟练运用 Rails 进行Web/小程序开发。熟练使用 Git，崇尚开源。能够快速阅读英文资料，用英语进行日常交流。</p>
<!-- 
  <h2>技术栈</h2>

  <p>&nbsp&nbsp语言及框架： 了解 C#, Java, React, Vue, Angular, 熟悉 Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery, Visual Basic, C, objective-C</p>
  <p>&nbsp&nbsp数据库： MySQL, MongoDB, PostgreSQL, Redis</p>
  <p>&nbsp&nbsp服务器部署： Nginx, Passenger, Puma, Unicorn, Docker</p>
  <p>&nbsp&nbsp游戏： 熟练使用 RPG Maker, Unity3d 等进行游戏开发</p>
  <p>&nbsp&nbsp应用软件： Office, Flash, PhotoShop, 3dmax, Video Studio...</p> -->

  <h2>工作经历</h2>

  <p>&nbsp&nbsp2016.10 - 2017.03</p>
  <p>&nbsp&nbsp<%= link_to '速递易（成都我来啦网格信息技术有限公司）', "http://sposter.net/", target: '_blank' %></p>

  <p>&nbsp&nbsp2017.05 - 2018.05</p>
  <p>&nbsp&nbsp<%= link_to 'Freelancer', "https://en.wikipedia.org/wiki/Freelancer", target: '_blank' %></p>

   <p>&nbsp&nbsp2018.05 - 至今</p>
   <p>&nbsp&nbsp<%= link_to 'Strikingly（上海鲸科信息科技有限公司）', "https://www.strikingly.com/", target: '_blank' %></p>


  <h2>兴趣爱好</h2>
  &nbsp&nbsp<button id="collapse">展开 ▼</button>
  <div id="hobby" style="display: none;">
    <ul>
      <li>篮球，凯尔特人忠实球迷</li>
      <li>喜欢钻研技术搞事情，对破解等黑客技术感兴趣</li>
      <li>外语，对各国语言有好奇心</li>
      <li>音乐发烧友，喜欢钢琴</li>
      <li>喜欢书法，但发现自己字越写越丑</li>
      <li>魔方，一直想学 CFOP 但没坚持</li>
      <li>喜欢海贼王，唯一看的动漫，带给我热血与感动</li>
    </ul>

    钢琴视频：
    <a href="http://v.youku.com/v_show/id_XMzM5ODg0NzU4OA==.html?spm=a2hzp.8244740.0.0">水边的阿狄丽娜</a>
    <a href="http://v.youku.com/v_show/id_XMTMxNDE2NDgxNg==.html?spm=a2hzp.8244740.0.0">我心永恒</a>
    <a href="http://v.youku.com/v_show/id_XNDM5MTcxMTQ0.html?spm=a2hzp.8244740.0.0">梦中的婚礼</a>
    <a href="http://v.youku.com/v_show/id_XNDM5MzI3NzI0.html?spm=a2hzp.8244740.0.0">我的歌声里</a>
  </div>

  <%= render partial: "pic" %>

  <h2 style="padding-top: 250px;">联系方式</h2>
  &nbsp&nbsp<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=267286753&site=qq&menu=yes"><img border="0" src="/qq.png" alt="点击这里Q我" title="点击这里Q我" height="50px" width="50px"></a>

  &nbsp&nbsp<img src="/wechat.png" alt="点击微信与我联系" title="点击微信与我联系" onclick="openWindow()" style="cursor: pointer; height: 50px; width: 50px;" />

  <div id="black_overlay" onclick="closeWindow()"></div>
  <%= image_tag 'wechat_add.png', id: "wechat" %>

  <div>
    <%= form_for Message.new, url: feedback_path do |f| %>
      <div><%= f.text_area :body, size: '60x5', placeholder: "输入内容", id: 'feedback-body' %></div>
      <div><%= f.text_field :author, maxlength: 30, placeholder: '你的姓名及联系方式（可选）', id: 'feedback-author' %></div>
      <div><%= f.submit '发送邮件', data: { disable_with: '发送中..' }, id: 'feedback-submit' %></div>
    <% end %>
  </div>
</div>
