<div class="sites-container">
  <div class="site-panel">
    <div class="panel-heading">设计开发<span class="site-angle"><%= fa_icon "angle-up", data: { id: 1 } %></span></div>
    <div class="panel-body" data-id=1>
      <span class="site-item" title="内容丰富的矢量图标库，找图标神器">
        <%= link_to 'http://www.iconfont.cn/', target: '_blank' do %>
          <span id="site-icon"><%= image_tag 'http://gtms04.alicdn.com/tps/i4/TB1_oz6GVXXXXaFXpXXJDFnIXXX-64-64.ico', size: '20x20' %></span>
          <div id="site-name">Iconfont</div>
        <% end %>
      </span>

    </div>
  </div>

  <div class="site-panel">
    <div class="panel-heading">个人网站<span class="site-angle"><%= fa_icon "angle-up", data: { id: 2 } %></span></div>
    <div class="panel-body" data-id=2>
      <span class="site-item" title="生活就像盒子，我把生活的点滴珍藏在盒子里。 ">
        <%= link_to 'https://share-man.com/', target: '_blank'  do %>
          <span id="site-icon"><%= image_tag 'https://share-man.com/favicon.ico', size: '20x20' %></span>
          <div id="site-name">曾小满的盒子</div>
        <% end %>
      </span>

    </div>
  </div>
</div>