<!DOCTYPE html>
<html>
  <head>
    <title>Allen's blog-止于至善</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'avatar.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <div id="avatar"><%= link_to image_tag('avatar.png'), articles_path %></div>
      <div class="nav">
        <div id="link">
          <%= link_to 'Home', articles_path %>
          <%= link_to 'Archive', archives_path %>
          <%= link_to 'About', about_index_path, method: :get %>
        </div>
      </div>
    </div>
    
    <%= yield %>

    <footer class="contact">
        <%= link_to image_tag('github.png'), "https://github.com/rennyallen" %>
        <%= link_to image_tag('email.png'), "mailto:rennyallen@hotmail.com" %>
        <%= link_to image_tag('twitter.png'), "https://twitter.com/Rennyallen20" %>
        <%= link_to image_tag('facebook.png'), "https://facebook.com/rennyallen" %>
      <div class="rights" style="padding: 8px;">©2017 renny.ren</div>
    </footer>
  </body>
</html>
