<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %></title>
    <meta name=keywords content="任峻宏, 个人主页, 博客, renny, ren, blog, ruby, rails, 止于至善">
    <meta name=description content="任峻宏的博客, 记录学习与生活, Renny's blog, record my life">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'avatar.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?00d4e9458d3341c0f84c62b3ab48e8eb";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>

  <body>
    <div class="banner">
      <div id="avatar"><%= link_to image_tag('avatar.png'), home_path, method: :get %></div>
      <div class="nav">
        <div id="link">
          <%= link_to t(:home), home_path, method: :get %>
          <%= link_to t(:archive), archives_path %>
          <%= link_to t(:tag), tags_path %>
          <%= link_to t(:site), sites_path, method: :get %>
          <%= link_to t(:about), about_index_path, method: :get %>
        </div>
        <div id="i18n">
          <%= form_tag(home_path, method: :get) do %>
            <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale), onchange: 'this.form.submit()' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flash-notice"></div>
    <%= yield %>

    <footer class="contact">
        <%= link_to image_tag('github.png'), "https://github.com/rennyallen", title: 'github', target: "_blank" %>
        <%= link_to image_tag('email.png'), "mailto:rennyallen@hotmail.com", title: 'mail to me' %>
        <%= link_to image_tag('instagram.png', size: '45x45'), "https://www.instagram.com/rennyallen/", title: "instagram", target: "_blank" %>
        <%= link_to image_tag('twitter.png'), "https://twitter.com/Rennyallen20", title: 'twitter', target: "_blank" %>
      <div class="rights" style="padding: 8px; text-align: center;">2018 renny.ren</div>
    </footer>
  </body>
</html>
