<!DOCTYPE html>
<html>
  <head>
    <title>Allen's blog-止于至善</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'avatar.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
