<!DOCTYPE html>
<html>
  <head>
    <title>Allen's blog-止于至善</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'avatar.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <div id="avatar"><%= image_tag('avatar.png') %></div>
      <div class="nav">
        <div id="name"><%= link_to 'Allen', controller => 'articles' %></div>
        <div id="link">
          <%= link_to 'Home', controller => 'articles' %>
          <%= link_to 'Archive', archives_path %>
          <%= link_to 'About', about_index_path %>
        </div>
      </div>
    </div>
    
    <%= yield %>
  </body>
</html>
