<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'avatar.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <div id="avatar"><%= link_to image_tag('avatar.png'), articles_path %></div>
      <div class="nav">
        <div id="link">
          <%= link_to t(:home), home_path %>
          <%= link_to t(:archive), archives_path %>
          <%= link_to t(:tag), tags_path %>
          <%= link_to t(:about), about_index_path, method: :get %>
        </div>
        <div id="i18n">
          <%= form_tag(home_path, method: :get) do %>
            <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale), onchange: 'this.form.submit()' %>
          <% end %>
        </div>
      </div>
    </div>
    
    <%= yield %>

    <footer class="contact">
        <%= link_to image_tag('github.png'), "https://github.com/rennyallen", target: "_blank" %>
        <%= link_to image_tag('email.png'), "mailto:rennyallen@hotmail.com" %>
        <%= link_to image_tag('twitter.png'), "https://twitter.com/Rennyallen20", target: "_blank" %>
        <%= link_to image_tag('facebook.png'), "https://facebook.com/rennyallen", target: "_blank" %>
      <div class="rights" style="padding: 8px; text-align: center;">2017 renny.ren</div>
    </footer>
  </body>
</html>
