<!DOCTYPE html>
<html>
  <head>
    <title><%= t('title') %></title>
    <meta name=keywords content="任峻宏, 个人主页, 博客, renny, ren, blog, ruby, rails, 止于至善">
    <meta name=description content="任峻宏的博客, 记录学习与生活, Renny's blog, record my life">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'avatar.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?00d4e9458d3341c0f84c62b3ab48e8eb";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>

  <body>
    <div class="header">
      <div class="ui padded grid">
        <div class="right aligned three wide column avatar"><%= link_to image_tag('avatar.png'), home_path %></div>
        <div class="center aligned thirteen wide mobile ten wide computer column nav-link">
          <%= link_to t(:home), home_path, method: :get %>
          <%= link_to t(:archive), archives_path %>
          <%= link_to t(:tag), tags_path %>
          <%= link_to t(:about), about_index_path, method: :get %>
        </div>
        <div class="right aligned three wide column computer only">
          <%= form_tag(home_path, method: :get) do %>
            <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale), onchange: 'this.form.submit()' %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="flash-notice"></div>
    <%= yield %>

    <footer>
      <div class="ui grid footer-container">
        <div class="right aligned three wide column media">
          <%= link_to fa_icon('github'), "https://github.com/renny-ren", target: '_blank' %>
          <%= link_to fa_icon('twitter'), "https://twitter.com/rennyren66", target: '_blank' %>
          <%= link_to fa_icon('instagram'), "https://www.instagram.com/rennyren1", target: '_blank' %>
        </div>
        <div class="ten wide column link">
          <%= link_to t(:site), sites_path %>
        </div>
        <div class="right aligned three wide column beian">蜀ICP备19024450号</div>
      </div>
    </footer>
  </body>
</html>
